<div class="menu">
    <p (click)="clickCreateHotel()" class="menuitem">Create hotel</p>
    <logout></logout>
</div>
<p></p>

<table>
    <thead>
        <tr>
            <th>Hotel name</th>
            <th>Rooms</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hotel of hotels">
            <td>{{ hotel.name }}</td>
            <td><a (click)="clickEditRooms(hotel._id)">Edit rooms</a></td>
            <button>Modify</button>
            <button (click)="clickDelete(hotel._id)">Delete</button>
        </tr>
    </tbody>
</table>
