<div class="menu">
    <p (click)="clickCreateHotel()" class="menuitem">Create hotel</p>
    <logout></logout>
</div>
<p></p>

<table>
    <thead>
        <tr>
            <th>Hotel name</th>
            <th>Owner</th>
            <th>Ratings</th>
            <th>Number of free rooms</th>
            <th>Rooms</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hotel of hotels">
            <td>{{ hotel.name }}</td>
            <td>{{ hotel.owner }}</td>
            <td><a>View ratings</a></td>
            <td>{{ hotel.freeRooms }}</td>
            <td><a>View rooms</a></td>
            <button>Modify</button>
            <button>Delete</button>
        </tr>
    </tbody>
</table>
