<ng-container *ngIf="!loading; else loadingTemplate">
    <div class="menu">
        <p (click)="clickCreateHotel()" class="menuitem">Create hotel</p>
        <logout></logout>
    </div>

    <ng-container *ngIf="hotels?.length; else noHotels">
        <p class="message" [style.background-color]="color" *ngIf="msg$ | async as message">{{ message }}</p>

        <div>
            <div *ngFor="let hotel of hotels; index as i">
                <span>{{ hotel.name }}</span>

                <button (click)="clickUploadRoomImage(hotel._id)">Upload image for rooms</button>

                <button *ngIf="show[i] === false" (click)="clickAddPictures(i)">Add picture</button>
                <form *ngIf="show[i] === true" [formGroup]="uploadForm" (ngSubmit)="onSubmit(hotel.name, i)">
                    <input type="file" name="picture" (change)="onFileSelect($event)">
                    <button type="submit">Upload</button>
                </form>

                <button (click)="clickDeletePictures(hotel.name)">Delete pictures</button>

                <button (click)="clickModify(hotel._id)">Modify</button>
                <button (click)="clickDelete(hotel._id)">Delete</button>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #noHotels>
    <p>There are no hotels yet.</p>
</ng-template>

<ng-template #loadingTemplate>
    <p>Loading...</p>
</ng-template>