<home-user class="menuitem"></home-user>

<div>
    <label for="stars">How many stars would you like to give?</label>
    <select id="stars" [(ngModel)]="star">
        <option *ngFor="let o of options">
            {{o.name}}
         </option>
    </select>
    <button (click)="clickRate()">Rate</button>
</div>

<table *ngIf="ratings?.length; else elseBlock">
    <thead>
        <tr>
            <th>User</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rating of ratings">
            <td>{{ rating.user }}</td>
            <td>{{ rating.stars }}</td>
        </tr>
    </tbody>
</table>

<ng-template #elseBlock>
    <p>There are no ratings yet.</p>
</ng-template>