p {
    cursor: pointer;
}

table {
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
}

dt, dd {
    text-align: center;
}

input {
    margin-right: 50px;
}

.message {
    background-color: yellow;
}

.menuitem {
    text-align: left;
    cursor: pointer;
}