<admin-home class="menuitem"></admin-home>

<p class="message" [style.background-color]="color" *ngIf="msg$ | async as message">{{ message }}</p>

<div *ngFor="let room of rooms; index as i">
    <span>{{ room.roomNumber }}</span>
    <button *ngIf="show[i] === false" (click)="clickAddPictures(i)">Add picture</button>
    <form *ngIf="show[i] === true" [formGroup]="uploadForm" (ngSubmit)="onSubmit(room.roomNumber, i)">
        <input type="file" name="picture" (change)="onFileSelect($event)">
        <button type="submit">Upload</button>
    </form>

    <button (click)="clickDeletePictures(room.roomNumber)">Delete pictures</button>
</div>