<div class="menu">
    <p (click)="clickMyReservations()">My reservations</p>
    <logout></logout>
</div>
<table>
    <thead>
        <tr>
            <th>Hotel name</th>
            <th>Owner</th>
            <th>Ratings</th>
            <th>Rooms</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hotel of hotels">
            <td>{{ hotel.name }}</td>
            <td>{{ hotel.owner }}</td>
            <td><a (click)="clickViewRatings(hotel._id)">View ratings</a></td>
            <td><a (click)="clickViewFreeRooms(hotel._id)">View free rooms</a></td>
        </tr>
    </tbody>
</table>
